<!DOCTYPE html>
<html>
    {{> head}}
<body>
    {{> header}}
    <div class="container">
        <row>
            <div class="col-md-12">
                <h3 class="jumbotron" style="align: center;">Managing health records can be a nightmare.<br>But, don't worry we will take care of it for you.</h3>
            </div>
        </row>
        <row>
            <div class="col-md-12" style="padding: 40px">
                Manage your records:
                <a class ="btn btn-primary" href="/signin">Signin</a>
            </div>
        </row>
        <row>
            <div class="col-md-12" style="padding: 40px">
                Join us:
                <a class ="btn btn-warning" href="/signup">Signup</a>
            </div>
        </row>
    </div>
    {{> footer}}
    {{> scripts}}
</body>
</html>