<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> header}}

    <div class="container">
        <div class="card" style="margin: 80px">
            <div class="card-body">
                <h2 class="card-title">{{user.name}}'s Data</h2>
                <form method="post" action="/updateRecord">
                    <div class="form-group">
                        <h4>Records</h4>
                        <textarea name="records" class="form-control">{{user.records}}</textarea>
                    </div>
                    <div class="form-group">
                        <h4>Prescription</h4>
                        <textarea name="prescriptions" class="form-control">{{user.prescriptions}}</textarea>
                    </div>
                    <input type="hidden" name="ssn" value="{{user.ssn}}">
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-warning form-control">
                    </div>
                </form>
                <a href="/doctor_dashboard" class="card-link">Back to dashboard</a>
            </div>
        </div>
    </div>
    {{> footer}}
    {{> scripts}}
</body>
</html>