<!DOCTYPE html>
<html>
{{> head}}
<script type="text/javascript">
    function formtype() {
        var e = document.getElementById("type-select");
        var type = e.options[e.selectedIndex].value;
        console.log(type);
        if(type == "patient") {
            document.getElementById("patient-props").style.display = "block";
            // using disabled so that these properties are not sent to server with form
            document.getElementById("records").disabled = false;
            document.getElementById("prescriptions").disabled = false;
        }
        else if (type == "doctor") {
            document.getElementById("patient-props").style.display = "None";
            document.getElementById("records").disabled = true;
            document.getElementById("prescriptions").disabled = true;
        }
        else {
            document.getElementById("patient-props").style.display = "None";
            document.getElementById("records").disabled = true;
            document.getElementById("prescriptions").disabled = true;
        }
    }
</script>
<body>
    {{> header}}
    <div class="container">
        <div class="card" style="margin: 80px">

            <div class="card-body">
                <h2 class="card-title">SIGNUP</h2>
                <form id="signup" name="signup" method="post" action="/signup">
                    <div class="form-group ">
                        <label for="usertype">User Type</label>
                        <select id="type-select" name="usertype" onchange="formtype()" class="form-control">
                            <option value="patient">Patient</option>
                            <option value="doctor">Doctor</option>
                            <option value="pharmacist">Pharmacist</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="ssn">SSN</label>
                        <input name="ssn" type="text" class="form-control"/>
                    </div>
                    <div class="form-group ">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control"/>
                    </div>
                    <div class="form-group ">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control"/>
                    </div>
                    <div id = "patient-props" class="form-group ">
                        <div>
                                <label for="records">Records</label>
                                <textarea id ="records" cols="20" rows ="5" name="records" class="form-control"></textarea>
                        </div>
                        <div>
                                <label for="prescriptions">Prescriptions</label>
                                <textarea id ="prescriptions" cols="20" rows ="5" name="prescriptions" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                    <input type="submit" value="Sign Up" class="btn btn-primary form-control"/>
                    </div>
                </form>
                <a href="/signin" class="card-link">Signin</a>
            </div>
        </div>
    </div>
    {{> footer}}
    {{> scripts}}
</body>
</html>